<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis mollitia aspernatur dignissimos perspiciatis, iste dolorum fugit incidunt saepe quas nemo culpa molestias. Voluptatibus harum officia consectetur consequatur aperiam obcaecati dicta!</p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li><i class="fa-solid fa-envelope"> emaial.com.br</i>
        <li><i class="fa-solid fa-phone"> (00) 0000-0000</i>
        <li><i class="fa-brands fa-whatsapp"> (00) 0000-0000</i>
      </ul>
    </address>
  </div>
  <section class="footer__copyright" > &copy; Todos os direitos reservados</section>
</footer>
